<p>These are the other users:</p>

<ul>
			<% @users.each do |user| %>
			<% if user.posts.last.blog_post.length < 1 then next %>
			<% end %>

	<li>
		<a href="/user/:id">
			<%= "#{user.fname} #{user.lname}" %>
		</a>
			<ul>
				<li>
					<%= "#{user.posts.last.blog_post}" %>
					<a href="/follow">
						<%= "Follow #{user.fname}." %>
					</a>
				</li>
			</ul>
	</li>
			<% end %>
</ul>