<!DOCTYPE html>

<h1>Whoah.</h1>

<p>Are you sure you want to delete your profile?</p>

<p>
	<a href="/profile">No, take me back to the profile page.</a>
</p>

<p>
	<a href="/delete/profile">Yeah, I hate you. I want out.</a>
</p>