<p>The email you entered is not found, but you can sign up here:</p>

<form method="POST" action="/sign_up">
	<label for="fname">First Name</label>
	<input type="text" name="[user]fname">

	<label for="lname">Last Name</label>
	<input type="text" name="[user]lname">  
  	
  	<label for="email">Email</label>  
  	<input type="text" name="[user]email">

  	<label for="password">Password</label>  
  	<input type="password" name="[user]password">

    <label for="picture"></label>
    <input type="hidden" value="http://www.publicdomainpictures.net/pictures/50000/nahled/smiley-silhouette.jpg" name="">

  	<input type="submit">
  </form>