<p>You're logged in.</p>

<p>Hey,</p><%= @user.fname %>

<p>This is your profile page.</p>

<a href="/all_users">Check out our other users!</a>

 <form method="POST" action="/log_out">
 	<input type="button" value="Log Out">
 </form>
 