<!DOCTYPE html>

<div class="sign_in">
  <p>Welcome, please sign in using your email address:</p>


    <form method="POST" action="/sign_in">  
    	<label for="email"></label>  
    	<input type="text" placeholder="enter@email.com" name="email">  
    	<label for="password"></label>  
    	<input type="password" placeholder="password" name="password">  
    	<input type="submit">
    </form>

  
    <div id="flash">
      <%= flash[:notice] if flash[:notice] %>
    </div>
</div>

<div class="main_feed">
  <p>Here's what some of our users are talking about:</p>

  <ul>
  			<% @posts.reverse.take(25).each do |post| %>
    	<li>
    			<%= "#{post.blog_post}" %>
    		<ul>
    			<li>
    			<%= "posted by #{post.user.fname}" %>
    			</li>
    		</ul>
    	</li>
  			<% end %>
  </ul>
</div>


